[user]
    name = Luciano Antonio Borguetti Faustino
    email = lucianoborguetti@gmail.com
    signingkey = 72AEF3CCD570C794!
[commit]
    gpgsign = true
[core]
    editor = nvim
[alias]
    rlog = log --pretty=format:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\"
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
    prompt = false
[diff]
    tool = vimdiff
